@font-face {
  font-family: 'Corbel';
  src: url('../font/Corbel/Corbel.eot'); /* IE9 Compat Modes */
  src: url('../font/Corbel/Corbel.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/Corbel/Corbel.woff') format('woff'), /* Pretty Modern Browsers */
  url('../font/Corbel/Corbel.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../font/Corbel/Corbel.svg#svgCorbelBold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Corbel-Bold';
  src: url('../font/Corbel-Bold/Corbel-Bold.eot'); /* IE9 Compat Modes */
  src: url('../font/Corbel-Bold/Corbel-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/Corbel-Bold/Corbel-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../font/Corbel-Bold/Corbel-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../font/Corbel-Bold/Corbel-Bold.svg#svgCorbelBold') format('svg'); /* Legacy iOS */
}