.home-slider {
  .slide {
    .carousel-inner {
      height: 420px;
      .carousel-item {
        height: 100%;
      }
      .carousel-caption {
        top: 20px;
        bottom: 20px;
        margin: auto;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        color: $primaryTxtColor;
      }
    }
  }
}

.home-page-filters {
  //background: #f3f3f3;
  background-color: $lightBg;
}